.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.loading-spinner {
  width: 4rem;
  height: 4rem;
  border: 4px dashed;
  border-radius: 9999px;
  animation: spin 1s linear infinite;
}
.spinner-anime, .spinner-manga {
  border-color: var(--accent-color);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}