.list-upcoming {
  display: flex;
  flex-direction: column;
}
.list-item-upcoming {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 1px solid var(--color-border);
}
.list-item-upcoming:last-child {
  border-bottom: none;
}
.list-item-upcoming:hover {
  background-color: #f9fafb;
}
.upcoming-date-col {
  margin-bottom: 0.5rem;
}
.upcoming-date {
  font-weight: bold;
  color: var(--accent-text);
}